.bg-dark {
    background-color: #000000!important;
    opacity: 0.8;
}
.navbar{
    padding: .1rem 1rem;  
    
}
.navbar-nav li{
    margin:0px 10px;
}
body{
    background-image: url(./style/background.jpg);
    background-size: no-repeat;
    background-size: cover;
    
    
    
}


.menu{
    margin-top: 20px;
    background-color: black;
    opacity: 0.8;
    color:white;
    
}
.ma-row{
    padding-bottom: 1.5vh;
    padding-top:1vh;
    border: solid 0.01rem white;
   
    
    
}
    
    

/*
.ma-row{
    border: 3px solid black;
    
}
.ma-col{
    border: 3px dotted red;
}
*/



